<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chadi.dbcompare.dao.Dba_tablesMapper">


    <!--返回List-->
    <select id="getDba_tablesByOwner" resultType="com.chadi.dbcompare.bean.Dba_tables">
		SELECT t1.* FROM dba_tables t1 WHERE t1.OWNER = #{owner}
    </select>

    <!--返回List-->
    <select id="getDba_tablesByPros"  parameterType="java.util.Map" resultType="com.chadi.dbcompare.bean.Dba_tables">
		SELECT t1.* FROM dba_tables t1
        where 1=1

        <foreach collection="params.keys" item="key" open="and" close="" separator="," >
            t1.${key} = #{params[${key}]}
        </foreach>

    </select>

</mapper>